# Secrets
.env
*.env

# Cles utilisateurs (JAMAIS commit)
user_keys/

# Fichiers stockes (donnees utilisateurs)
storage/

# Fichiers temporaires
temp_uploads/
temp_downloads/

# Python
venv/
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker volumes locaux
ldap/
